<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Import excel</title>
</head>

<body class="bg-gray-50 dark:bg-gray-700">
  <div class="flex items-center justify-center min-h-screen">
    <a
      class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-800">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Upload file</h5>
      <p class="font-normal text-gray-700 dark:text-gray-400 py-4">Upload a CSV file to process the data.</p>
      <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <input
          class=" block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
          name="myfile" type="file" />
          <button type="submit" class="mt-8 text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-full text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">Upload File</button>
   
      </form>
      <br>
      <hr>

      {% if messages %}

      {% for message in messages %}
      <div class="alert alert-{{message.tags}}" role="alert">
        <p {% if message.tags %} class="font-normal text-gray-700 dark:text-gray-400 py-4" {% endif %}>
          {{message}}
        </p>
      </div>
      {% endfor %}

      {% endif %}

    </a>

  </div>

  <script>
    setTimeout(function () {
      const alerts = document.querySelectorAll('.alert');
      alerts.forEach(function (alert) {
        alert.style.display = 'none';
      });
    }, 3000); 
  </script>
</body>

</html>